@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    line-height: normal;
  }

  /* this styles added to fix headless ui bug when modal is open */
  html {
    padding-right: 0 !important;
    overflow-y: scroll !important;
  }
}

@layer components {
  .headerTitle {
    @apply font-film text-[44px] font-700 text-accentYellow tracking-[8px] md:text-[64px] md:tracking-[12px];
  }

  .yellowText {
    @apply font-mont text-[12px] text-accentYellow font-700 leading-normal tracking-[0.32px] md:text-[16px];
  }
}

@layer utilities {
  .border-around-yellow {
    @apply border-[1px] border-accentYellow border-solid rounded-[2px];
  }

  .gradient-bg {
    @apply bg-double-gradient md:bg-triple-gradient;
  }
}
